<web-app xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
          version="2.5">

    <display-name>ClinicPet</display-name>

    <description></description>

    <servlet>
        <servlet-name>ClinicServlet</servlet-name>
        <servlet-class>ru.alebedev.javacourse.servlets.ClinicServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClinicServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>UserCreateServlet</servlet-name>
        <servlet-class>ru.alebedev.javacourse.servlets.UserCreateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserCreateServlet</servlet-name>
        <url-pattern>/user/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserDeleteServlet</servlet-name>
        <servlet-class>ru.alebedev.javacourse.servlets.UserDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserDeleteServlet</servlet-name>
        <url-pattern>/user/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserEditServlet</servlet-name>
        <servlet-class>ru.alebedev.javacourse.servlets.UserEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserEditServlet</servlet-name>
        <url-pattern>/user/edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserViewServlet</servlet-name>
        <servlet-class>ru.alebedev.javacourse.servlets.UserViewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserViewServlet</servlet-name>
        <url-pattern>/user/view</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ClientViewServlet</servlet-name>
        <servlet-class>ru.alebedev.javacourse.servlets.ClientViewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientViewServlet</servlet-name>
        <url-pattern>/client/view</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddClientServlet</servlet-name>
        <servlet-class>ru.alebedev.javacourse.servlets.AddClientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddClientServlet</servlet-name>
        <url-pattern>/client/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ClientDeleteServlet</servlet-name>
        <servlet-class>ru.alebedev.javacourse.servlets.ClientDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientDeleteServlet</servlet-name>
        <url-pattern>/client/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>ru.alebedev.javacourse.servlets.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddPetServlet</servlet-name>
        <servlet-class>ru.alebedev.javacourse.servlets.AddPetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddPetServlet</servlet-name>
        <url-pattern>/client/addpet</url-pattern>
    </servlet-mapping>

</web-app>